[Unit]
Description=qBittorrent-nox service
Wants=basic.target
After=basic.target

[Service]
Type=simple
PrivateTmp=false
ExecStart={qbittorrent_command}
TimeoutStopSec=1800

[Install]
WantedBy=default.target
