[General]

[Application]
FileLogger\Enabled=false
MemoryWorkingSetLimit={memory}

[BitTorrent]
Session\DisableAutoTMMByDefault=true
Session\IgnoreSlowTorrentsForQueueing=true
Session\Interface=
Session\InterfaceAddress=::
Session\InterfaceName=
Session\MaxConnections={max_connections}
Session\MaxConnectionsPerTorrent={max_connections}
Session\MaxUploads={max_connections}
Session\MaxUploadsPerTorrent={max_connections}
Session\Port={torrent_port}
Session\Preallocation=true
Session\QueueingSystemEnabled=false
Session\Tags=byr, keep

[LegalNotice]
Accepted=true

[Meta]
MigrationVersion=4

[Preferences]
Advanced\RecheckOnCompletion=false
Bittorrent\MaxConnecs={max_connections}
Bittorrent\MaxConnecsPerTorrent={max_connections}
Connection\InterfaceAddress=
Connection\InterfaceListenIPv6=true
Connection\InterfaceName=
Downloads\PreAllocation=true
Queueing\QueueingEnabled=false
WebUI\Address=*
WebUI\Enabled=true
WebUI\Port={webui_port}
